.normal{
    font-size: 30px;
    font-style: bold;
    color: blue;
}
input {
    width: 800px;
    height: 60px;

    background-color: transparent;
    border: 2px solid black; /* 테두리 스타일 및 두께 */
    color: blue; /* 내부 텍스트 색상 */

    font-size: 60px;
    
    
}
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease;
  }
button {
    width: 70px; /* 버튼의 너비 */
    height: 40px; /* 버튼의 높이 */
}
div {
    text-align: center;
}
h1{
    text-align: center;
}
#a{
    font-size: 100px;
    background: linear-gradient(to right, aqua, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Clock {
    font-size: 100px;
    background: linear-gradient(to right, #FFFF96, #14A0A0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
span{
    font-size: 60px;
    background: linear-gradient(to right,red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
#Weaher span {
    display: block; /* 각 span 요소를 block 요소로 만듭니다. */
    border-bottom: 1px solid black; /* 각 span 요소의 아래쪽에 검은색 선을 추가합니다. */
    margin-bottom: 10px; /* 각 span 요소의 아래쪽 마진을 추가하여 구분합니다. */
    padding-bottom: 10px; /* 선택적으로 각 span 요소의 아래쪽에 여백을 추가합니다. */
}